.postlink:link  {text-decoration: none; color:black;}
.postlink:visited {text-decoration: none;}
.postlink{color: black;
    -webkit-transition: color 0.5s ease;
-moz-transition: color 0.5s ease;
-o-transition: color 0.5s ease;
transition: color 0.5s ease;}
.postlink:hover {color:grey;}
.postlink:active {text-decoration: none;}


@media(min-width:320px){
    body{
        width:98vw;
        font-family: "Bookman Old Style", "Serif";
        display: grid;
        grid-template-columns: 25px auto 25px;
        grid-template-rows: 100px 1500px 50px 600px 100px;
        display: -ms-grid;
        -ms-grid-columns: 25px auto 25px;
        -ms-grid-rows: 100px 1500px 50px 600px 100px;
        z-index: 0;

        header{
            grid-row:1;
            grid-column:  1/ span 3;
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;

            div{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                background-color: white;

                #headertext{
                    font-size: 24px;
                }

            }

            nav{
                display: flex;
                justify-content: center;
                align-items: content;
                margin-top: 5px;
                display: grid;
                grid-template-columns: repeat(5, 20%);
                font-size: 16px;

                div{
                        width: 19.6vw;

                        a{
                            .nava{color: white; text-decoration: none;}
                            .navdiv:link  {text-decoration: none;}
                            .navdiv:visited {text-decoration: none;}
                            .navdiv{background-color: black;
                                -webkit-transition: background-color 0.5s ease;
                            -moz-transition: background-color 0.5s ease;
                            -o-transition: background-color 0.5s ease;
                            transition: background-color 0.5s ease;}
                            .navdiv:hover {background-color:grey;}
                            .navdiv:active {text-decoration: none;}

                            div{
                                height: 25px;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }

            div {display: flex;
            justify-content: center;
            align-items: flex-start;
            background-color: white;
                }
                h1{
                    font-size: 24px;
                }
            }
        }
    }

    main{
        grid-column: 2;
        grid-row: 2;
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

            .post{
                height: 350px;
                display:grid;
                grid-template-rows: 50px 250px 50px;
                grid-template-columns:1;
                display: -ms-grid;
                -ms-grid-rows: 50px 250px 50px;
                -ms-grid-columns: 1;
            
                h2{
                    grid-row: 1;
                    -ms-grid-row:1;
                    font-size: 20px;

                }

                .fade{
                    -ms-grid-row:2;
                    height: 100%;
                    width: 100%;
                    z-index: 10;
                    background-color: rgba(255,255,255,0);
                    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 80%, rgba(255,255,255,1));
                }

                p{
                    grid-row:2;
                    -ms-grid-row:2;
                    overflow:hidden;
                    text-align: justify;
                    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1) 80%,rgba(0,0,0,0));
                    -webkit-mask-image: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1) 80%, rgba(0,0,0,0));

                    img{
                        float:left;
                        margin-right: 10px;
                        height: auto; 
                        width: auto; 
                        max-width: 150px; 
                        max-height: 150px;
                    }
                }

                .afterpost{
                    grid-row: 3;
                    -ms-grid-row:3;
                    display:flex;
                    justify-content:space-around;
                    align-items: flex-start;
                    overflow:hidden;
                }
            }

            .post01{
                height:1500px;
                display:grid;
                grid-template-rows: 100px 1350px 50px;
                grid-template-columns:1;
                -ms-grid-rows: 100px 1350px 50px;
                -ms-grid-columns: 1;

                h2{
                    grid-row: 1;
                    grid-column:1;
                    -ms-grid-row: 1;
                    -ms-grid-column:1;
                    text-align: center;
                    margin-top: 50px;
                }

                p{
                    grid-row:2;
                    grid-column:1;
                    -ms-grid-row: 2;
                    -ms-grid-column:1;
                    overflow:auto;
                    text-align:justify;

                    img{
                        float:left;
                        margin-right: 10px;
                        height: auto; 
                        width: auto; 
                        max-width: 320px; 
                        max-height: 320px;
                    }

                    iframe{
                        float:left;
                        margin: 10px;
                        width: 320px;
                        height: 200px;
                    }
                }

                .afterpost01{
                    grid-row: 3;
                    grid-column:1;
                    -ms-grid-row: 3;
                    -ms-grid-column:1;
                }

                form{
                    height: 600px;
                    display:grid;
                    grid-template-rows: 1fr 1fr 1fr 3fr;
                    display: -ms-grid;
                    -ms-grid-rows:  1fr 1fr 1fr 3fr 1fr;
                    -ms-grid-columns: 1fr;

                    .Firstname{
                        grid-row: 1;
                        -ms-grid-row:1;
                        -ms-grid-column: 1;
                        display:flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
        
                    .Lastname{
                        grid-row: 2;
                        -ms-grid-row:2;
                        -ms-grid-column: 1;
                        display:flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
        
                    .email{
                        grid-row: 3;
                        -ms-grid-row:3;
                        -ms-grid-column: 1;
                        display:flex;
                        flex-direction: column;
                        align-items: flex-start;        
                    }
        
                    .messagebox{
                        grid-row: 4;
                        -ms-grid-row:4;
                        -ms-grid-column: 1;
                        display:flex;
                        flex-direction: column;
                        align-items: flex-start;        
                    }
        
                    .emailname{
                        width: 100%;
                        padding: 12px 20px;
                        margin: 0;
                        box-sizing: border-box;
                        text-align: left;
                    }
        
                    .message{
                        width: 100%;
                        height: 300px;
                        margin-bottom: 20px;
                    }
        
                    .buttons{
                        -ms-grid-row: 5;
                        -ms-grid-column: 1;
                    }
        
                    #button{
                        height: 25px;
                        width: 100%;
                        border: none;
                        color: white; 
                        font-size: 16px;
                        margin: 0 auto;
                        display:inline-block;
                    }

                    input[placeholder="Search"]{
                        margin-bottom: 20px;
                    }

                }
    

            }
        }

    .mainpost{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;


    aside{
        grid-column: 2;
        grid-row:4;
        -ms-grid-column: 2;
        -ms-grid-row:4;
        border-bottom: 2px solid black;
        
        .massofsocial{
            height: 150px;
            margin-bottom: 20px;
            border-bottom: 2px solid black;

            h2{
                margin-top: 20px;
                font-size: 20px;
                text-align:center;
            }

            div{
                display:flex;
                justify-content: space-around;

                .facebooklink:link{color:#3b5998;}
                .facebooklink:visited{color:#3b5998;}
                .facebooklink:hover{color:#3b5998;}
                .facebooklink:active{color:#3b5998;}
                
                .twitterlink:link{color:#00aced;}
                .twitterlink:visited{color:#00aced;}
                .twitterlink:hover{color:#00aced;}
                .twitterlink:active{color:#00aced;}
                
                .youtubelink:link{color:#c4302b;}
                .youtubelink:visited{color:#c4302b;}
                .youtubelink:hover{color:#c4302b;}
                .youtubelink:active{color:#c4302b;}
                
                .googlelink:link{color:#dd4b39;}
                .googlelink:visited{color:#dd4b39;}
                .googlelink:hover{color:#dd4b39;}
                .googlelink:active{color:#dd4b39;}
            }
                }
                
        .massofpostaside{
            height:350px;
            font-size: 14px;
            overflow: auto;

            h2{
                font-size:20px;
                text-align: center;
            }

            div{
                -ms-grid-row:2;
                height: 100%;
                width: 100%;
                z-index: 10;
                background-color: rgba(255,255,255,0);
                background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 80%, rgba(255,255,255,1));
                }

            p{
                font-size: 12px;
                -ms-grid-row: 2;
                grid-row:2;
            }
                        }
            

    }

    .nextpage{
        grid-column: 1 / span 6;
        grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        -ms-grid-row: 3;
        background-color: black;
        height:25px;

        div{
            display:flex;
            justify-content: center;
            align-items: center;
        }

        a{
            i:link  {text-decoration: none; color:white;}
            i:visited {text-decoration: none;}
            i{color: white;
                -webkit-transition: color 0.5s ease;
            -moz-transition: color 0.5s ease;
            -o-transition: color 0.5s ease;
            transition: color 0.5s ease;}
            i:hover {color:grey;}
            i:active {text-decoration: none;}
            color: white;
            i{font-size: 22px;}
        }

        i{font-size: 22px;}
    }

    footer{
        grid-column: 1 / span 6;
        grid-row:5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        -ms-grid-row: 5;
    }
        
    }


    @media(min-width:768px){
        body{
            display: grid;
            grid-template-columns: 25px auto 12px 1px 12px 200px;
            grid-template-rows: 150px 1500px 50px 100px;
            display: -ms-grid;
            -ms-grid-columns: 25px auto 12px 1px 12px 200px;
            -ms-grid-rows: 150px 1500px 50px 100px;

            header{
                grid-row:1;
                grid-column:  1 / span 6;
                -ms-grid-row:1;
                -ms-grid-column:1;
                -ms-grid-column-span: 6;

                div{
                    #headertext{
                        font-size: 32px;
                    }
                }

                nav{
                    div{
                        a{
                            div{
                                height: 25px;
                            }
                        }
                    }
                    }
            }
            
            main{
                .post{
                    h2{
                        font-size: 20px;
                    }
                    p{
                        img{
                            max-width: 200px; 
                            max-height: 200px;
                        }
                    }
                }

                .post01{
                    p{
                        grid-row:2;
                        grid-column:1;
                        overflow:auto;

                        img{
                                max-width: 400px; 
                                max-height: 400px;
                        }
                        iframe{
                            height: 320px;
                            width: 480px;
                        }
                    }
                }
                #button{
                    height: 25px;}
            }
            aside{
                grid-column: 6;
                grid-row:2;
                -ms-grid-column: 6;
                -ms-grid-row: 2;
                border-bottom: 2px solid black;

                .massofsocial{
                    height: 200px;
                    margin-bottom: 25px;
                    border-bottom: 2px solid black;

                    h2{
                        font-size: 24px;
                        text-align:center;
                    }
                   }
            
                .massofpostaside{
                    font-size: 16px;
                    overflow: auto;

                    h2{
                        font-size:24px;
                        text-align: center;
                    }

                    .postaside{
                        height: 200px;
                        overflow:hidden;
                        text-align: justify;
                        
                        h2{
                            font-size:24px;
                            text-align: center;
                        }

                        p{
                            font-size: 12px;
                        }
                    }

                }
            }

            .nextpage{
                margin-top: 30px;
            }
            footer{
                grid-column: 1 / span 6;
                grid-row:4;
            }

            .elv{
                grid-column: 4;
                grid-row: 2;
                -ms-grid-column: 4;
                -ms-grid-row: 2;
                background-color: black;
            }
            }



    }


    @media(min-width:1024px){
        body{
            display: grid;
            grid-template-columns: 25px auto 12px 1px 12px 200px;
            grid-template-rows: 150px 1500px 50px 100px;
            display: -ms-grid;
            -ms-grid-columns: 25px auto 12px 1px 12px 200px;
            -ms-grid-rows: 150px 1500px 50px 100px;

            header{
                grid-row:1;
                grid-column:  1 / span 6;
                -ms-grid-row:1;
                -ms-grid-column:1;
                -ms-grid-column-span: 6;

                div{
                    #headertext{
                        font-size: 32px;
                    }
                }

                nav{
                    margin-top: 5px;
                    font-size: 16px;
                    div{
                        a{
                            div{
                                height: 30px;;
                            }
                        }
                    }
                    }
            }
            
            main{
                .post{
                    h2{
                        font-size: 20px;
                    }
                    p{
                        img{
                            max-width: 300px; 
                            max-height: 300px;
                        }
                    }
                }

                .post01{
                    p{
                        grid-row:2;
                        grid-column:1;
                        overflow:auto;

                        img{
                            max-width: 600px; 
                            max-height: 600px;
                        }
                        iframe{
                            width:560px;
                            height:315px;
                        }
                    }
                }
                #button{
                    height: 25px;}
            }
            aside{
                grid-column: 6;
                grid-row:2;
                -ms-grid-column: 6;
                -ms-grid-row: 2;
                border-bottom: 2px solid black;

                .massofsocial{
                    height: 200px;
                    margin-bottom: 50px;
                    border-bottom: 2px solid black;

                    h2{
                        font-size: 24px;
                        text-align:center;
                    }
                   }
            
                .massofpostaside{
                    font-size: 16px;
                    overflow: auto;
                    .postaside{
                        height: 200px;
                        overflow:hidden;
                        text-align: justify;
                        
                        h2{
                            font-size:24px;
                            text-align: center;
                        }

                        p{
                            font-size: 12px;
                        }
                    }

                }
            }

            .nextpage{
                margin-top: 30px;
                div{
                    a{
                        i{
                            font-size: 28px;
                        }
                    }
                    i{
                        font-size: 28px;
                    }
                }
            }
            footer{
                grid-column: 1 / span 6;
                grid-row:4;
            }
            }
            #button{
                height: 30px;}
    
            }

@media(min-width: 1368px){
    body{
        display: grid;
        grid-template-columns: 50px auto 24px 2px 24px 300px;
        grid-template-rows: 250px 1600px 50px 200px;
        display: -ms-grid;
        -ms-grid-columns: 50px auto 24px 2px 24px 300px;
        -ms-grid-rows: 250px 1600px 50px 200px;

        header{
            div{
                #headertext{
                    font-size: 64px;
                }
            }

            nav{
                margin-top: 10px;
                font-size:20px;
                div{
                    a{
                        div{
                            height: 40px;
                        }
                    }
                }
                }
        }
        
        main{
            .post{
                h2{
                    font-size: 24px;
                }
                p{
                    img{
                        max-width: 300px; 
                        max-height: 300px;
                    }
                }
                .afterpost{
                    font-size: 20px;
                }
            }

            .post01{
                h2{
                    font-size: 28px;
                }
                p{
                    font-size: 20px;

                    img{
                        max-width: 800px; 
                        max-height: 800px;
                    }
                    iframe{
                        width:560px;
                        height:315px;
                    }
                }
            }
            #button{
                height: 25px;}
        }
        aside{
            grid-column: 6;
            grid-row:2;
            -ms-grid-column: 6;
            -ms-grid-row: 2;
            border-bottom: 2px solid black;

            .massofsocial{
                height: 200px;
                margin-bottom: 50px;
                border-bottom: 2px solid black;

                h2{
                    font-size: 24px;
                    text-align:center;
                }
               }
        
            .massofpostaside{
                font-size: 16px;
                overflow: auto;
                
                .postaside{
                    height: 200px;
                    overflow:hidden;
                    text-align: justify;
                    
                    h2{
                        font-size:24px;
                        text-align: center;
                    }

                    p{
                        font-size: 12px;
                    }
                }

            }
        }

        .nextpage{
            height: 40px;
            div{
                a{
                    i{
                        font-size: 36px;
                    }
                }
                i{
                    font-size: 36px;
                }
            }
        }
        }
        #button{
            height: 40px;}

        }


@media(min-width: 1920px){
    body{
        display: grid;
        grid-template-columns: 50px auto 24px 2px 24px 400px;
        grid-template-rows: 250px 2250px 50px 200px;
        display: -ms-grid;
        -ms-grid-columns: 50px auto 24px 2px 24px 400px;
        -ms-grid-rows: 250px 2250px 50px 200px;
        
                header{
                    div{
                        #headertext{
                            font-size: 64px;
                        }
                    }
        
                    nav{
                        margin-top: 10px;
                        font-size:20px;
                        div{
                            a{
                                div{
                                    height: 50px;
                                }
                            }
                        }
                        }
                }
                
                main{
                    .post{
                        h2{
                            font-size: 32px;
                        }
                        p{
                            font-size: 24px;
                            img{
                                max-width: 400px; 
                                max-height: 400px;
                            }
                        }
                        .afterpost{
                            font-size: 28px;
                        }
                    }
        
                    .post01{
                        h2{
                            font-size: 36px;
                        }
                        p{
                            font-size: 28px;
        
                            img{
                                max-width: 1000px; 
                                max-height: 1000px;
                            }
                            iframe{
                                width:560px;
                                height:315px;
                            }
                        }
                    }
                    #button{
                        height: 25px;}
                }
                aside{
                    grid-column: 6;
                    grid-row:2;
                    -ms-grid-column: 6;
                    -ms-grid-row: 2;
                    border-bottom: 2px solid black;
        
                    .massofsocial{
                        height: 200px;
                        margin-bottom: 50px;
                        border-bottom: 2px solid black;
        
                        h2{
                            font-size: 32px;
                            text-align:center;
                        }
                       }
                
                    .massofpostaside{
                        font-size: 16px;
                        overflow: auto;

                        h2{
                            font-size:32px;
                            text-align: center;
                        }
                        
                        .postaside{
                            height: 300px;
                            overflow:hidden;
                            display:-ms-grid;
                            -ms-grid-rows: 75px 225px;
                            display:grid;
                            grid-template-rows: 75px 225px;
                            
                            h2{
                                font-size: 24px;
                                text-align: center;
                            }
        
                            p{
                                font-size:24px;
                                overflow:auto;
                            }
                        }
        
                    }
                }

                }
                #button{
                    height: 50px;}
        
                }
        
