@media(min-width:320px){
    body{
        width:98vw;
        font-family: "Bookman Old Style", "Serif";
        display: grid;
        grid-template-columns: 25px auto 25px;
        grid-template-rows: 100px 1500px 50px 1000px 100px;
        display: -ms-grid;
        -ms-grid-columns: 25px auto 25px;
        -ms-grid-rows: 100px 1500px 50px 1000px 100px;
        z-index: 0;
        }
        #headertext{
            font-size: 24px;
        }

        header{
            grid-row:1;
            grid-column:  1/ span 3;
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;
        }
            
        #headerdiv{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            background-color: white;
        }
            
        nav{
            display: flex;
            justify-content: center;
            margin-top: 5px;
            font-size: 16px;
            }
        nav div{
            width: 19.6vw;
        }
            
            
            .navdiv{
                height: 25px;
                display:flex;
                align-items: center;
                justify-content: center;
            }
            
            .nava{color: white; text-decoration: none;}
            .navdiv:link  {text-decoration: none;}
            .navdiv:visited {text-decoration: none;}
            .navdiv{background-color: black;
                -webkit-transition: background-color 0.5s ease;
            -moz-transition: background-color 0.5s ease;
            -o-transition: background-color 0.5s ease;
            transition: background-color 0.5s ease;}
            .navdiv:hover {background-color:grey;}
            .navdiv:active {text-decoration: none;}

            iframe{
                float:left;
                margin: 10px;
                width: 320px;
                height: 200px;
            }
            
            main{
                grid-column: 2;
                grid-row: 2;
                -ms-grid-row: 2;
                -ms-grid-column: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
            }

            #mainsearch{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            #postsearch{
                height: 200px;
            }

            .mainpost{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            .post{
                height: 350px;
                display:grid;
                grid-template-rows: 50px 250px 50px;
                display: -ms-grid;
                -ms-grid-rows: 50px 250px 50px;
            }

            .post h2{
                grid-row: 1;
                -ms-grid-row:1;
                -ms-grid-column: 1;
                font-size: 20px;
            }
            .posting{
                
                grid-row:2;
                -ms-grid-row:2;
                -ms-grid-column: 1;
                overflow:hidden;
                overflow-wrap: normal;
                text-align: justify;
                -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1) 80%,rgba(0,0,0,0));
                -webkit-mask-image: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1) 80%, rgba(0,0,0,0));
            }

            .fade{
                -ms-grid-row:2;
                height: 100%;
                width: 100%;
                -ms-grid-column: 1;
                z-index: 10;
                background-color: rgba(255,255,255,0);
                background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 80%, rgba(255,255,255,1));
            }


            .afterpost{
                grid-row: 3;
                -ms-grid-row:3;
                display:flex;
                justify-content:space-around;
                align-items: flex-start;
                overflow:hidden;
            }
    
            .post01{
                height:1500px;
                display:grid;
                grid-template-rows: 100px 1350px 50px;
                -ms-grid-rows: 100px 1350px 50px;
            }

            #divsearchmatch{

            }

            #titleofpost{
                grid-row: 1;
                -ms-grid-row: 1;
                -ms-grid-column:1;
                text-align: center;
                margin-top: 50px;
            }
            .post01 p{
                grid-row:2;
                -ms-grid-row: 2;
                -ms-grid-column:1;
                overflow:auto;
                text-align:justify;
            }
            .afterpost01{
                grid-row: 3;
                -ms-grid-row: 3;
                -ms-grid-column:1;
            }
            #pictureofpost{
                float:left;
                margin-right: 10px;
                height: auto; 
                width: auto; 
                max-width: 320px; 
                max-height: 320px;
            }

            form{
                height: 600px;
                display:grid;
                grid-template-rows: 1fr 1fr 1fr 3fr;
                display: -ms-grid;
                -ms-grid-rows:  1fr 1fr 1fr 3fr 1fr;
                -ms-grid-columns: 1fr;
            }

            .Firstname{
                grid-row: 1;
                -ms-grid-row:1;
                -ms-grid-column: 1;
                display:flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .Lastname{
                grid-row: 2;
                -ms-grid-row:2;
                -ms-grid-column: 1;
                display:flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .email{
                grid-row: 3;
                -ms-grid-row:3;
                -ms-grid-column: 1;
                display:flex;
                flex-direction: column;
                align-items: flex-start;        
            }

            .messagebox{
                grid-row: 4;
                -ms-grid-row:4;
                -ms-grid-column: 1;
                display:flex;
                flex-direction: column;
                align-items: flex-start;        
            }

            .emailname{
                width: 100%;
                padding: 12px 20px;
                margin: 0;
                box-sizing: border-box;
                text-align: left;
            }

            .message{
                width: 100%;
                height: 300px;
                margin-bottom: 20px;
            }

            .buttons{
                -ms-grid-row: 5;
                -ms-grid-column: 1;
            }

            #button{
                height: 25px;
                width: 100%;
                border: none;
                color: white; 
                font-size: 16px;
                margin: 0 auto;
                display:inline-block;

            }

            input[placeholder="Search"]{
                margin-bottom: 20px;
            }
            .postpicture{
                float:left;
                margin-right: 10px;
                height: auto; 
                width: auto; 
                max-width: 150px; 
                max-height: 150px;
            }

            .postaside{
                height: 200px;
                overflow:hidden;
                -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1) 80%,rgba(0,0,0,0));
                -webkit-mask-image: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1) 80%, rgba(0,0,0,0));
                display:-ms-grid;
                -ms-grid-rows: 50px 150px;
                display:grid;
                grid-template-rows: 50px 150px;
            }
            
            .postasidelink{
                font-size: 16px;
                -ms-grid-row: 1;
                grid-row:1;
            }
            
            .postingaside{
                font-size: 12px;
                -ms-grid-row: 2;
                grid-row:2;
            }

            .fadeaside{
                -ms-grid-row:2;
                height: 100%;
                width: 100%;
                z-index: 10;
                background-color: rgba(255,255,255,0);
                background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 80%, rgba(255,255,255,1));
            }
            
            .postlink:link  {text-decoration: none; color:black;}
            .postlink:visited {text-decoration: none;}
            .postlink{color: black;
                -webkit-transition: color 0.5s ease;
            -moz-transition: color 0.5s ease;
            -o-transition: color 0.5s ease;
            transition: color 0.5s ease;}
            .postlink:hover {color:grey;}
            .postlink:active {text-decoration: none;}
            
            
            .nextpage{
                grid-column: 1 / span 6;
                grid-row: 3;
                -ms-grid-column: 1;
                -ms-grid-column-span: 6;
                -ms-grid-row: 3;
                background-color: black;
                height:25px;

            }

            .nextpage div{
                display:flex;
                justify-content: center;
                align-items: center;
            }

            #nextpage i, #lastpage i, .nextpage>i{
                font-size: 22px;
            }

            #nextpage, #lastpage{
                color: white;
            }

            #nextpage i:link  {text-decoration: none; color:white;}
            #nextpage i:visited {text-decoration: none;}
            #nextpage i{color: white;
                -webkit-transition: color 0.5s ease;
            -moz-transition: color 0.5s ease;
            -o-transition: color 0.5s ease;
            transition: color 0.5s ease;}
            #nextpage i:hover {color:grey;}
            #nextpage i:active {text-decoration: none;}

            #lastpage i:link  {text-decoration: none; color:white;}
            #lastpage i:visited {text-decoration: none;}
            #lastpage i{color: white;
                -webkit-transition: color 0.5s ease;
            -moz-transition: color 0.5s ease;
            -o-transition: color 0.5s ease;
            transition: color 0.5s ease;}
            #lastpage i:hover {color:grey;}
            #lastpage i:active {text-decoration: none;}

            footer{
                grid-column: 1 / span 6;
                grid-row:5;
                -ms-grid-column: 1;
                -ms-grid-column-span: 6;
                -ms-grid-row: 5;
            }
            aside{
                grid-column: 2;
                grid-row:4;
                -ms-grid-column: 2;
                -ms-grid-row:4;
                border-bottom: 2px solid black;
            
            }
            
            .massofsocial{
             height: 150px;
             margin-bottom: 20px;
             border-bottom: 2px solid black;
            }
            
            .massofsocial h2{
                margin-top: 20px;
                font-size: 20px;
                text-align:center;
            }

            .social{
                display:flex;
                justify-content: space-around;
            }

            .massofpostaside>h2{
                font-size:20px;
                text-align: center;
            }
            
            .massofpostaside{
            font-size: 14px;
            overflow: auto;
            }
            
            
            
            .facebooklink:link{color:#3b5998;}
            .facebooklink:visited{color:#3b5998;}
            .facebooklink:hover{color:#3b5998;}
            .facebooklink:active{color:#3b5998;}
            
            .twitterlink:link{color:#00aced;}
            .twitterlink:visited{color:#00aced;}
            .twitterlink:hover{color:#00aced;}
            .twitterlink:active{color:#00aced;}
            
            .youtubelink:link{color:#c4302b;}
            .youtubelink:visited{color:#c4302b;}
            .youtubelink:hover{color:#c4302b;}
            .youtubelink:active{color:#c4302b;}
            
            .googlelink:link{color:#dd4b39;}
            .googlelink:visited{color:#dd4b39;}
            .googlelink:hover{color:#dd4b39;}
            .googlelink:active{color:#dd4b39;}
}

/*.LOL{
    background:white;
    position:fixed;
    right: 0px;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#eat{
-webkit-animation-name: eat; 
-webkit-animation-duration: 2s; 
-webkit-animation-iteration-count: infinite; 
animation-name: eat;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(0, 1.5, 0, 0.8);
font-size:72px;
width: 22vw;
height: 15vh;
text-align:center;
background:white;
}


@-webkit-keyframes eat {
    0%   {z-index: 1;}
    25%  {z-index:-10;}
    50%  {z-index: -10;}
    100% {z-index: 1;}
}

@keyframes eat {
    0%   {z-index: 1;}
    25%  {z-index:-10;}
    50%  {z-index: -10;}
    100% {z-index: 1;}
}


#sleep{
    -webkit-animation-name: sleep; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-delay: 0.5s;
    animation-name: sleep;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 1.5, 0, 0.8);
    animation-delay: 0.5s;
    font-size:72px;
    text-align:center;
    width: 22vw;
    height: 15vh;
    background:white;
    }
    
    @-webkit-keyframes sleep {
        0%   {z-index: -10;}
        25%  {z-index: 10;}
        50%  {z-index: -10;}
        100% {z-index: -10;}
    }
    
    @keyframes sleep {
        0%   {z-index: -10;}
        25%  {z-index: 10;}
        50%  {z-index: -10;}
        100% {z-index: -10;}
    }
    

    #rave{
        -webkit-animation-name: rave; 
        -webkit-animation-duration: 2s; 
        -webkit-animation-iteration-count: infinite; 
        -webkit-animation-delay: 1s;
        animation-name: rave;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        animation-timing-function: cubic-bezier(0, 1.5, 0, 0.8);
        font-size:72px;
        text-align:center;
        width: 22vw;
        height: 15vh;
        background:white;
    }

    
    @-webkit-keyframes rave {
        0%   {z-index: -10;}
        50%  {z-index: 1; color: red;}
        75%  {z-index:-10;}
        100% {z-index:-10;}
    }
    
    @keyframes rave {
        0%   {z-index: -10;}
        50%  {z-index: 1; color: red;}
        75%  {z-index:-10;}
        100% {z-index:-10;}
    }

    #repeatf{
        -webkit-animation-name: repeatf; 
        -webkit-animation-duration: 2s; 
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 1.5s; 
        animation-name: repeatf;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 1.5s; 
        animation-timing-function: cubic-bezier(0, 1.5, 0, 0.8);
        font-size:72px;
        text-align:center;
        width: 22vw;
        height: 15vh;
        background:white;
    }

    @-webkit-keyframes repeatf {
        0%   {z-index: -10;}
        50%  {z-index: -10;}
        75%  {z-index: 1;}
        100% {z-index:-10;}
    }
    
    @keyframes repeatf {
        0%   {z-index: -10;}
        50%  {z-index: -10;}
        75%  {z-index:1;}
        100% {z-index:-10;}
    }


    .LOL2{
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #eat2{
    font-size:72px;
    width: 22vw;
    height: 15vh;
    text-align:center;
    background:white;
    position: fixed;
    left: 0px; 
    top: 0px;
    -webkit-animation-name: eat2; 
    -webkit-animation-duration: 4s; 
    -webkit-animation-iteration-count: infinite; 
    animation-name: eat2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

    }
    
    
    @-webkit-keyframes eat2 {
        0% {left: 0px; top: 0px;}
        25% {left: 400px; top: 0px;}
        50% {left: 400px; top: 300px;}
        75% {left: 0px; top: 300px;}
        100% {left: 0px; top: 0px;}
    }
    
    @keyframes eat2 {
        0% {left: 0px; top: 0px;}
        25% {left: 400px; top: 0px;}
        50% {left: 400px; top: 300px;}
        75% {left: 0px; top: 300px;}
        100% {left: 0px; top: 0px;}
    }
    
    
    #sleep2{
        -webkit-animation-name: eat2; 
        -webkit-animation-duration: 4s; 
        -webkit-animation-iteration-count: infinite; 
        -webkit-animation-delay: 1s;
        animation-name: eat2;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        animation-timing-function: ease;
        font-size:72px;
        text-align:center;
        width: 22vw;
        height: 15vh;
        background:white;
        position: fixed;
        left: 0px; 
        top: 0px;
        }
    
        #rave2{
            -webkit-animation-name: eat2; 
            -webkit-animation-duration: 4s; 
            -webkit-animation-iteration-count: infinite; 
            -webkit-animation-delay: 2s;
            animation-name: eat2;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-delay: 2s;
            animation-timing-function: ease;
            font-size:72px;
            text-align:center;
            width: 21vw;
            height: 15vh;
            background:red;
            position: fixed;
            left: 0px; 
            top: 0px;
        }
    
        
        @-webkit-keyframes rave2 {
            0% {left: 0px; top: 0px;  width: 24vw; height:18vh;}
            25% {left: 400px; top: 0px; width: 21vw; height: 15vh;}
            50% {left: 400px; top: 300px;  width: 24vw; height:18vh;}
            75% {left: 0px; top: 300px; width: 21vw; height: 15vh;}
            100% {left: 0px; top: 0px; width: 24vw; height:18vh;}
        }
        
        @keyframes rave2 {
            0% {left: 0px; top: 0px;  width: 24vw; height:18vh;}
            25% {left: 400px; top: 0px; width: 21vw; height: 15vh;}
            50% {left: 400px; top: 300px;  width: 24vw; height:18vh;}
            75% {left: 0px; top: 300px; width: 21vw; height: 15vh;}
            100% {left: 0px; top: 0px; width: 24vw; height:18vh;}
        }
    
        #repeatf2{
            -webkit-animation-name: eat2; 
            -webkit-animation-duration: 4s; 
            -webkit-animation-iteration-count: infinite; 
            -webkit-animation-delay: 3s;
            animation-name: eat2;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-delay: 3s;
            animation-timing-function: ease;
            font-size:72px;
            text-align:center;
            width: 21vw;
            height: 15vh;
            background:white;
            position: fixed;
            left: 0px; 
            top: 0px;
        }*/




@media(min-width:768px){
    body{
        display: grid;
        grid-template-columns: 25px auto 12px 1px 12px 200px;
        grid-template-rows: 150px 1500px 50px 100px;
        display: -ms-grid;
        -ms-grid-columns: 25px auto 12px 1px 12px 200px;
        -ms-grid-rows: 150px 1500px 50px 100px;
        }
        #headertext{
            font-size: 32px;
        }

        header{
            grid-row:1;
            grid-column:  1 / span 6;
            -ms-grid-row:1;
            -ms-grid-column:1;
            -ms-grid-column-span: 6;
        }

        iframe{
            height: 320px;
            width: 480px;
        }
            
        nav{
            margin-top: 5px;
            font-size: 16px;
            }
            
        .navdiv{
            height: 25px;}

            .post h2{
                font-size: 20px;
            }

            .post01 p{
                grid-row:2;
                grid-column:1;
                overflow:auto;
            }
            #pictureofpost{
                max-width: 400px; 
                max-height: 400px;
            }
            
            .postpicture{
                max-width: 200px; 
                max-height: 200px;
            }
            .postaside{
                height: 200px;
                overflow:hidden;
                text-align: justify;
            }
            
            .postasidelink{
                font-size: 16px;
            }
            
            .postaside p{
                font-size: 12px;
            }
            
            .nextpage{
                margin-top: 30px;
            }
            footer{
                grid-column: 1 / span 6;
                grid-row:4;
            }
            aside{
                grid-column: 6;
                grid-row:2;
                -ms-grid-column: 6;
                -ms-grid-row: 2;
                border-bottom: 2px solid black;
            
            }
            
            .massofsocial{
             height: 200px;
             margin-bottom: 25px;
             border-bottom: 2px solid black;
            }
            
            .massofsocial h2{
                font-size: 24px;
                text-align:center;
            }
            .massofpostaside>h2{
                font-size:24px;
                text-align: center;
            }
            
            
            .massofpostaside{
            font-size: 16px;
            overflow: auto;
            }

            #button{
                height: 25px;}

            .elv{
                grid-column: 4;
                grid-row: 2;
                -ms-grid-column: 4;
                -ms-grid-row: 2;
                background-color: black;
                }
            
}

@media(min-width:1024px){
    body{
    display: grid;
    grid-template-columns: 25px auto 12px 1px 12px 200px;
    grid-template-rows: 150px 1500px 50px 100px;
    display: -ms-grid;
    -ms-grid-columns: 25px auto 12px 1px 12px 200px;
    -ms-grid-rows: 150px 1500px 50px 100px;
    }
    #headertext{
        font-size: 32px;
    }

    iframe{
        width:560px;
        height:315px;
    }
        
    nav{
        margin-top: 5px;
        font-size: 16px;
        }

        .navdiv{
            height: 30px;}
        
        
        .post h2{
            font-size: 20px;
        }

        #pictureofpost{
            max-width: 600px; 
            max-height: 600px;
        }

        .postpicture{
            max-width: 300px; 
            max-height: 300px;
        }

        .postaside{
            height: 200px;
            overflow:hidden;
            text-align: justify;
        }
        
        .postasidelink{
            font-size: 16px;
        }
        
        .postaside p{
            font-size: 12px;
        }
        
        .massofsocial{
         height: 200px;
         margin-bottom: 50px;
         border-bottom: 2px solid black;
        }
        
        .massofsocial h2{
            font-size: 24px;
            text-align:center;
        }
        
        .massofpostaside>h2{
            font-size:24px;
            text-align: center;
        }
        
        .massofpostaside{
        font-size: 16px;
        overflow: auto;
        }

        .nextpage{
            height: 30px;
        }

        #nextpage i, #lastpage i, .nextpage>i{
            font-size: 28px;
        }

        #button{
            height: 30px;}

        }
@media(min-width: 1368px){
body{
    display: grid;
    grid-template-columns: 50px auto 24px 2px 24px 300px;
    grid-template-rows: 250px 1600px 50px 200px;
    display: -ms-grid;
    -ms-grid-columns: 50px auto 24px 2px 24px 300px;
    -ms-grid-rows: 250px 1600px 50px 200px;


}
#headertext{
    font-size: 64px;
}

nav{
    margin-top: 10px;

    font-size:20px;
}

.navdiv{
    height: 40px;
}

.post h2{
    font-size: 24px;
}
.afterpost{
    font-size: 20px;
}

.post01 p{
    font-size: 20px;
}

.post01 h2{
    font-size: 28px;
}

#pictureofpost{
    max-width: 800px; 
    max-height: 800px;
}

.postpicture{
    max-width: 300px; 
    max-height: 300px;
}

.postaside{
    height: 200px;
    overflow:hidden;
    text-align: justify;
}

.postasidelink{
    font-size: 20px;
}

.postaside p{
    font-size: 14px;
}

.massofsocial{
 height: 200px;
 margin-bottom: 50px;
 border-bottom: 2px solid black;
}

.massofsocial h2{
    font-size: 24px;
    text-align:center;
}

.massofpostaside>h2{
    font-size:24px;
    text-align: center;
}


.massofpostaside{
font-size:16px;
overflow:auto;
}

#nextpage i, #lastpage i, .nextpage>i{
 font-size: 36px;
}

.nextpage{
    height: 40px;
}

#button{
    height: 40px;}

}

@media(min-width: 1920px){
    body{
        display: grid;
        grid-template-columns: 50px auto 24px 2px 24px 400px;
        grid-template-rows: 250px 2250px 50px 200px;
        display: -ms-grid;
        -ms-grid-columns: 50px auto 24px 2px 24px 400px;
        -ms-grid-rows: 250px 2250px 50px 200px;
    
    
    }
    #headertext{
        font-size: 64px;
    }
    
    nav{
        margin-top: 10px;
        font-size: 24px;
    }
    

    .navdiv{
        height: 50px;}


    .post{
        height: 500px;
        display:grid;
        grid-template-rows: 75px 350px 75px;
        display: -ms-grid;
        -ms-grid-rows: 75px 350px 75px;
        -ms-grid-columns: 1;
    
    }
    .post h2{
        font-size: 32px;
    }
    .post p{
        font-size: 24px;
    }

    .post01 p{
        font-size: 28px;
    }
    
    .post01 h2{
        font-size: 36px;
    }


    .afterpost{
        font-size: 28px;
    }

    #pictureofpost{
        max-width: 1000px; 
        max-height: 1000px;
    }

    .postpicture{
        max-width: 400px; 
        max-height: 400px;
    }


    .postaside{
        height: 300px;
        overflow:hidden;
        display:-ms-grid;
        -ms-grid-rows: 75px 225px;
        display:grid;
        grid-template-rows: 75px 225px;
    }
    
    .postasidelink{
        font-size: 24px;
    }
    
    .postaside p{
        font-size: 16px;
    }
    
    footer{
        margin-top: 50px;
    }
    
    .massofsocial{
     height: 200px;
     margin-bottom: 50px;
     border-bottom: 2px solid black;
    }
    
    .massofsocial h2{
        font-size: 32px;
        text-align:center;
    }

    .massofpostaside>h2{
        font-size:32px;
        text-align: center;
    }
    
    
    .postingaside{
    font-size:24px;
    overflow:auto;
    }

    #button{
        height: 50px;}

}